.link{
    color: #fff;
    margin-right: 10px;
    font-size: 18px;
    transition: all 0.5s ease;
    font-weight: 700;
    text-decoration: none;
    overflow: hidden;
}

.link:hover{
    color: cyan;
}

Navbar{
    background: #000;
}