.contents {
  position: relative;
  background-color: #f5f5f5;
}

.imgContent {
  background: black;
}

.carImg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.4;
}

.textContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}

.textContent span {
  font-size: 124px;
  letter-spacing: 8px;
}
.textContent h5 {
  font-size: 100px;
  letter-spacing: 4px;
}

.additionalContent {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.description {
  padding: 0 20px;
  line-height: 25px;
  text-align: justify;
  text-justify: inter-word;
  white-space: pre-wrap;
  padding-bottom: 10px;
}


@media(max-width:668px){
    .textContent{
        top: 40%;
    }
    .textContent span {
        font-size: 24px;
      }
      .textContent h5 {
        font-size: 18px;
      }
}


